<strong> olá, {{ provider }}</strong>
<p>houve um cancelamento de horario, confira os os detalhes abaixo: </p>
<p>
  <strong>Cliente:</strong> {{user}} <br/>
  <strong>Data/Hora:</strong> {{date}} <br/>
  <br />
  <small>
    o Horário está novamente disponível para novos agendamentos.
  </small>
</p>
